@charset "UTF-8";
* {
  font-size: large;
}

thead {
  text-align: center;
}

.search {
  background: -webkit-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  width: fit-content;
  margin-top: 2vh;
}

.row {
  margin-top: 1vh;
  margin: 1vh;
  max-width: 100vw;
}

.niewidzialny {
  display: none;
}

td {
  float: left;
  margin: 2vh;
}
td img {
  min-height: 15vh;
  max-height: 15vh;
  min-width: 10vw;
  max-width: 10vw;
}

.card {
  min-width: fit-content;
  max-width: fit-content;
  min-height: 20vh;
  max-height: fit-content;
  border: none;
  border-radius: 2vh;
  background: -webkit-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
}

tr {
  width: fit-content;
  float: left;
}

.koszyk {
  background: -webkit-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  padding: 1vw;
  width: fit-content;
  text-align: left;
}
.koszyk img {
  min-height: 140px;
  max-height: 140px;
  min-width: 140px;
  max-width: 140px;
}

table {
  width: 100vw;
  align-items: center;
}

.tło {
  margin-top: 2vh;
  border-radius: 2vw;
  width: auto;
  background: -webkit-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: -moz-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: -o-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
}

img {
  min-width: 200px;
  border-radius: 2vh;
}

.tło-produkt {
  margin-top: 2vh;
  border-radius: 2vw;
  width: auto;
  background: -webkit-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
  background: linear-gradient(90deg, #aab5bb 0%, #ffffff 100%);
}

.navbar,
.dropdown-menu {
  color: #233D4D;
  background: -webkit-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: -moz-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: -o-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  text-align: center;
  border: none;
  min-width: auto;
}

.btn {
  background: -webkit-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: -moz-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: -o-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  color: #233D4D;
  border-radius: 2vh;
  width: fit-content;
}

.btn:hover {
  color: #ffd60a;
}

.nav-link,
.navbar-brand,
.dropdown-item {
  color: #233D4D;
}

a {
  text-decoration: none;
  color: #233D4D;
}

.nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover,
a:hover {
  color: #FE7F2D;
}

.navbar-toggler,
.dropdown-item:hover {
  background: -webkit-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: -moz-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: -o-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
}

li {
  color: #233D4D;
}
li a {
  color: #233D4D;
}

.navbar-collapse {
  margin-right: auto;
}

body {
  text-align: center;
  background: -webkit-linear-gradient(90deg, #375d74 0%, #233d4d 100%);
  background: -moz-linear-gradient(90deg, #375d74 0%, #233d4d 100%);
  background: -o-linear-gradient(90deg, #375d74 0%, #233d4d 100%);
  background: linear-gradient(90deg, #375d74 0%, #233d4d 100%);
}
body .highlight {
  font-weight: 600;
}
body .blok-główny {
  padding: 2vw;
  margin-top: 10vh;
  background: -webkit-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: -moz-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: -o-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  color: #233D4D;
  width: fit-content;
  margin-left: 10vw;
  border-radius: 1vw;
}
body .formdiv {
  text-align: -webkit-center;
  width: 100vw;
}
body .form-rzeczy {
  display: block;
  text-align: center;
  width: fit-content;
  margin-top: 10vh;
  background: -webkit-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: -moz-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: -o-linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  background: linear-gradient(90deg, #ffd60a 0%, rgba(201, 94, 48, 0.7882352941) 100%);
  color: #233D4D;
  border-radius: 1vh;
  padding: 1vw;
  font-weight: 600;
}
body .form-rzeczy .ostatni {
  margin-top: 4vh;
}
body .form-rzeczy .mb-3 {
  text-align: -webkit-center;
}
body .form-rzeczy .form-control {
  max-width: fit-content;
  border-radius: 2vh;
}
body .form-rzeczy .input-group {
  max-width: fit-content;
  text-align: -webkit-center;
}
body .form-rzeczy .input-group .form-select {
  border-radius: 2vh;
  max-width: fit-content;
  text-align: -webkit-center;
}
body .form-rzeczy .input-group .form-select option:hover {
  background: -webkit-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: -moz-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: -o-linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
  background: linear-gradient(90deg, #fe7f2d 0%, rgba(243, 143, 100, 0.7882352941) 100%);
}

/*# sourceMappingURL=styl.css.map */
