$primary-color: #FED18C;
$secondary-color: #99acb8;
$thirdary-color: #FE654F;

* {
    font-size: large;
}

.navbar,
.dropdown-menu {
    color: $primary-color;
    background-color: $secondary-color;
    text-align: center;
    border: none;
    min-width: auto;
}

.nav-link,
.navbar-brand,
.dropdown-item {
    color: $primary-color;
}


.nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover {
    color: $thirdary-color;
}

.navbar-toggler,
.dropdown-item:hover {
    background-color: $thirdary-color;
}

li {
    color: $primary-color;

    a {
        color: $primary-color;
    }
}

.navbar-collapse {
    margin-right: auto;
}

body {
    text-align: center;
    background-color: $primary-color;
    color: $thirdary-color;
}